<header fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex>
        <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15px">
            <button mat-fab matTooltip="Primary" color="primary">
                <mat-icon class="logoIcon">store</mat-icon>
              </button>
            <span class="logo">Shop panel</span>
        </div>  
    </div>
</header>
<div fxLayout="row" fxFlex>
    <div class="sidebar">
        <mat-selection-list [multiple]="false">
            <mat-list-option><a routerLink="/admin">Dashboard</a></mat-list-option>
            <mat-list-option><a routerLink="/admin">Products</a></mat-list-option>
            <mat-list-option><a routerLink="/admin">Link</a></mat-list-option>
        </mat-selection-list>
    </div>
    <div fxFlex class="content">
        <router-outlet></router-outlet>
    </div>
</div>
