<header fxLayoutAlign="start center">
    <div fxFlex>
        <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15px">
            <button mat-fab matTooltip="Primary" color="primary">
                <mat-icon class="logoIcon">store</mat-icon>
              </button>
            <span class="logo">ADMIN PANEL</span>
        </div>  
    </div>
</header>
<div fxLayout="row" fxFlex>
    <div class="sidebar">
        <mat-list>
            <mat-list-item><a routerLink="/admin">Dashboard</a></mat-list-item>
            <mat-list-item><a routerLink="/admin/products">Products</a></mat-list-item>
            <mat-list-item><a routerLink="/admin/categories">Categories</a></mat-list-item>
            <mat-list-item><a routerLink="/admin/reviews">Reviews</a></mat-list-item>
            <mat-list-item><a routerLink="/admin">Links</a></mat-list-item>
        </mat-list>
    </div>
    <div fxFlex class="content">
        <app-admin-message></app-admin-message>
        <router-outlet></router-outlet>
    </div>
</div>
