<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15px">
        <button mat-fab matTooltip="Primary" color="primary" routerLink="/admin">
            <mat-icon class="logoIcon">store</mat-icon>
          </button>
        <span class="logo">{{title}}</span>
    </div>
    <div fxLayoutGap="15px" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" routerLink="">Home</button>
        <button mat-raised-button color="primary" routerLink="/products">Products</button>
        <button mat-raised-button color="primary" routerLink="/login">Log in</button>
        <button mat-fab matTooltip="Primary" color="primary">
            <a routerLink="/cart"><mat-icon class="shoppingBasket white-icon" matBadge="{{cartProductCounter}}" matBadgeColor="accent">shopping_basket</mat-icon></a>
          </button>
    </div>
</header>