<h2>Password Recovery</h2>
<form *ngIf="!hash" [formGroup]="formGroup" fxLayout="column" (submit)="send()" class="lostPasswordForm">
    <div *ngIf="formError" class="error">{{formError}}</div>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Insert your Email">
    </mat-form-field>
    <button mat-flat-button color="primary">Send</button>
</form>
<form *ngIf="hash" [formGroup]="formGroupChangePassword" fxLayout="column" (submit)="sendChangePassword()" class="lostPasswordForm">
    <div *ngIf="formChangePasswordError" class="error">{{formChangePasswordError}}</div>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Pasword">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Repeat Password</mat-label>
        <input type="password" matInput formControlName="repeatPassword" placeholder="Repeat Password">
    </mat-form-field>
    <button mat-flat-button color="primary">Send</button>
</form>
