<div flexLayout="row" class="footerManu">
    <div fxFlex>
        <div>Category</div>
        <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
        </ul>
    </div>
    <div fxFlex>
        <div>About</div>
        <ul>
            <li>About</li>
        </ul>
    </div>
    <div fxFlex>
        <div>Help</div>
        <ul>
            <li>Help</li>
        </ul>
    </div>
</div>
<div flexLayout="column" class="footerCopy">
Copyright &copy; 2023 Jan Kopec PK
</div>