@import "../../../variables.scss";
.description, .fullDescription{
    margin-top:20px;
    margin-bottom: 25px;
}
.price{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $lightblue;
}
.review{
    background-color: rgb(60, 133, 143);
    margin: 20px 0;
    padding: 7px;
}

.productSalePrice{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px; 
    color: rgb(112, 17, 17);
    margin-left: 8px;
}
.productPriceDisable{
    color: rgb(99, 94, 94);
    text-decoration: line-through;
    font-size: 24px;
}