@import '../../../variables.scss';
:host{
    display: flex;
    flex-direction: column;
}
.productImage{
    margin-right: 10px;
}
.productPrice{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    color: $primary;
}
.productContent{
    font-size: 18px;
}
mat-card{
    margin-bottom: 25px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #888;
}
.productSalePrice{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px; 
    color: rgb(112, 17, 17);
}
.productPriceDisable{
    color: rgb(99, 94, 94);
    text-decoration: line-through;
    font-size: 24px;
}
